<!doctype html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = |#{page.archives.title} - ${site.title}|, hero = null, content = ~{::content}, head = null, footer = null, sidebar = null, contentClass = null, pageType = 'archives')}"
>
  <th:block th:fragment="content">
    <div class="card-base px-8 py-6">
      <th:block th:each="archive : ${archives.items}">
        <div>
          <div class="flex h-[3.75rem] w-full flex-row items-center">
            <div
              class="text-75 w-[15%] text-right text-2xl font-bold transition md:w-[10%]"
              th:text="${archive.year}"
            ></div>
            <div class="w-[15%] md:w-[10%]">
              <div
                class="outline-3 z-50 mx-auto h-3 w-3 rounded-full bg-none outline -outline-offset-[2px] outline-[var(--primary)]"
              ></div>
            </div>
            <!--                    <div class="w-[70%] md:w-[80%] transition text-left text-50" -->
            <!--                         th:text="#{page.archives.postCount(${archive.postCount})}">-->
            <!--                      -->
            <!--                    </div>-->
            <!--            TODO: 这里应该是postCount，但是halo不支持，所以暂时用year代替-->
            <div class="text-50 w-[70%] text-left transition md:w-[80%]" th:text="${archive.year}"></div>
          </div>

          <th:block th:each="month : ${archive.months}">
            <a
              th:each="post : ${month.posts}"
              th:href="@{${post.status.permalink}}"
              th:aria-label="${post.spec.title}"
              class="btn-plain group !block h-10 w-full rounded-lg hover:text-[initial]"
            >
              <div class="flex h-full flex-row items-center justify-start">
                <!-- date -->
                <div
                  class="text-50 w-[15%] text-right text-sm transition md:w-[10%]"
                  th:text="${#dates.format(post.spec.publishTime,'MM-dd')}"
                >
                  >
                </div>

                <!-- dot and line -->
                <div class="dash-line relative flex h-full w-[15%] items-center md:w-[10%]">
                  <div
                    class="z-50 mx-auto h-1 w-1 rounded bg-[oklch(0.5_0.05_var(--hue))] outline outline-4 outline-[var(--card-bg)] transition-all group-hover:h-5 group-hover:bg-[var(--primary)] group-hover:outline-[var(--btn-plain-bg-hover)] group-active:outline-[var(--btn-plain-bg-active)]"
                  ></div>
                </div>

                <!-- post title -->
                <div
                  class="text-75 w-[70%] overflow-hidden overflow-ellipsis whitespace-nowrap pr-8 text-left font-bold transition-all group-hover:translate-x-1 group-hover:text-[var(--primary)] md:w-[65%] md:max-w-[65%]"
                >
                  [[${post.spec.title}]]
                </div>

                <!-- tag list -->
                <div
                  class="text-30 hidden overflow-hidden overflow-ellipsis whitespace-nowrap text-left text-sm transition md:block md:w-[15%]"
                >
                  <th:block th:each="tag : ${post.tags}"> [[${'#'+tag.spec.displayName}]] </th:block>
                </div>
              </div>
            </a>
          </th:block>
        </div>
      </th:block>
    </div>
    <div
      th:if="${archives.hasPrevious() || archives.hasNext()}"
      class="onload-animation mx-auto mt-5 flex flex-row items-center justify-center gap-3"
      th:style="|animation-delay: calc(var(--content-delay) + ${archives.items.size()*50}ms)|"
    >
      <a
        th:href="@{${archives.prevUrl}}"
        th:aria-label="${archives.hasPrevious() ? 'Previous Page' : null}"
        class="btn-card h-11 w-11 overflow-hidden rounded-lg"
        th:classappend="${archives.hasPrevious() ? 'text-[var(--primary)]' : 'disabled'}"
      >
        <span class="icon-[material-symbols--chevron-left-rounded] text-[1.75rem]"></span>
      </a>

      <div
        class="flex min-w-24 items-center justify-center rounded-lg bg-[var(--card-bg)] px-4 py-2 text-sm font-medium text-neutral-700 dark:text-neutral-300"
        th:text="|${archives.page} / ${archives.totalPages}|"
      ></div>

      <a
        th:href="@{${archives.nextUrl}}"
        th:aria-label="${archives.hasNext() ? 'Next Page' : null}"
        class="btn-card h-11 w-11 overflow-hidden rounded-lg"
        th:classappend="${archives.hasNext() ? 'text-[var(--primary)]' : 'disabled'}"
      >
        <span class="icon-[material-symbols--chevron-right-rounded] text-[1.75rem]"></span>
      </a>
    </div>
  </th:block>
</html>
